@media (min-width: 1200px) {
  .studentsCont {
    max-width: 800px;
  }
}

.card-text {
  margin-bottom: 5px;
}

.studentsCont {
  text-align: center;
  margin-top: 50px;
}

.card-body {
  flex: 1 1 auto;
  padding: 0.1rem;
 
}
.card {
  align-items: center;
  /* height: 220px; */
  margin-bottom: 20px;
  padding: 0px;
  /* width: 200px */
}
.card .carbody {
  margin-bottom: 20px;
  /* align-items: center; */
  padding: 0px;
  /* width: 200px */
}
.studentsCont {
  padding: 0px;
}

.titleLink {
  text-decoration: none !important;
}

.card-header {
  color: #000 !important;
  padding: 0px;
  width: 200px

}

.card-header:hover {
  color: #c0c0c0 !important;
}

#myBtn{
  width: 80px;
  height: 32px;
  text-align: center;
  font-size: 10px;
  margin-bottom: 0 !important;
  background-color: #F7F9F5;
  border-color: #F7E7D4;
  color: #000;
  padding: 0rem .0rem;
}

#myBtn:hover{
  color: #EBC493 !important;
}

/* .btn {
  padding: 0rem .0rem;
 } */

